@model IEnumerable<SC.ViewModel.DepartmentViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentCode)
        </td>
        <td>
            <div class="pull-right">
                <a class="btn btn-primary modal-link" href="@Url.Action("EditDepartment", new { code = item.DepartmentCode })">
                    <i class="glyphicon glyphicon-pencil"></i>
                    <span class="sr-only">Edit</span>
                </a>
                <a class="btn btn-danger modal-link" href="@Url.Action("DeleteDepartment", new { code = item.DepartmentCode })">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </div>
        </td>
    </tr>
}

</table>
